@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
:root {
  --body-bg-color: #1a1c1d;
  --text-color: #aaaebc;
  --hr-color: #26292a;
  --red: #e74c3c;
  --azul: #121f3d;
  --azul-claro: #24385b;
  --blanco: #fff;
  --amarillo: #fed209;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
p {
  line-height: 1.3;
  margin: 10px 0;
}
h1,
h3 {
  color: var(--amarillo);
}
